<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- still figuring out how to change website's icon -->
  <!-- <link rel="shortcut icon" href="./img/icon01.jpeg"> -->

  <title>Dashboard Template for Bootstrap</title>

  <!-- Bootstrap core CSS -->
  <link href="./stylesheets/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="./stylesheets/dashboard.css" rel="stylesheet">

  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript">
  var files = [];
  // "parameter|safe" to strip all the single quotes
  files = {{ files|safe }};
  console.log(files);

  // (careful) Need to double quote "{{parameter}}", or will return variable undefined 
  // {{parameter}} is just the same as typed string..
  console.log("Current Topic : {{ selected_file }}");
  var selected_file = "{{ selected_file }}";
  console.log(selected_file);

  var view_tweets = [];
  view_tweets = {{ view_tweets|safe }};
  console.log(view_tweets);
  //console.log(view_tweets[0][1]);
  //console.log(view_tweets[0][0]);

  $(document).ready(function() {
    $('a.main-feature').click(function() {
      // remove other "a" elements' class: active 
      $(this).parent().parent().children().removeClass('active')
      $(this).parent().addClass('active');
      // TODO..
      return false;
    });

    $('a.setting').click(function() {
      // remove other "a" elements' class: active 
      $(this).parent().parent().children().removeClass('active')
      $(this).parent().addClass('active');
      // TODO..
      return false;
    });
  });


  </script>

  <style type="text/css">
  a.setting {
    -webkit-transition: width 0s; /* For Safari 3.1 to 6.0 */
    transition: width 0s;
  }

  a.main-feature {
    -webkit-transition: width 0s; /* For Safari 3.1 to 6.0 */
    transition: width 0s;
  }

  /* can't have space between "colon" and "hover" */
  ul.navbar-right li a.setting:hover {
    /* can't use color name ex. background-color: blue; */
    background-color: #3F3F3F;
    color: white;
  }

  div.sidebar > ul > li > a:hover {
    color: white;
    background-color: #99CCFF;
  }

  div.nav-sidebar > .active > a:hover {
     background-color: #428bca
  }

  </style>

</head>

<body>

  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Project name</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a class="setting" href="#">Dashboard</a></li>
          <li><a class="setting" href="#">Settings</a></li>
          <li><a class="setting" href="#">Profile</a></li>
          <li><a class="setting" href="#">Help</a></li>
        </ul>
        <form class="navbar-form navbar-right">
          <input type="text" class="form-control" placeholder="Search...">
        </form>
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
          <li class="active"><a class="main-feature" href="#">Overview</a></li>
          <li><a class="main-feature" href="#">Reports</a></li>
          <li><a class="main-feature" href="#">Analytics</a></li>
          <li><a class="main-feature" href="#">Export</a></li>
        </ul>

        <ul class="nav nav-sidebar">

          {% for file in files %}
          {% if selected_file == file %}
          <li class="active"><a id="link" href="/data-save?selected={{ file }}">{{ file }}</a></li>
          {% else %}
          <li><a id="link" href="/data-save?selected={{ file }}">{{ file }}</a></li>
          {% endif %}

          <!-- the following also works: -->
          <script type="text/javascript">
          //document.write('<li><a id="link" href="/data-save?selected={{ file }}">{{ file }}</a></li>')
          </script>
          {% endfor %}

        </ul>
        <ul class="nav nav-sidebar">

          {% if selected_file != "" %}
          <li><a href="/data-save?selected={{ selected_file }}&save=true">Save Current File</a></li>
          {% endif %}

          <li><a href="/data-save?saveall=true">Save All Files</a></li>

          {% if view_database == "true" %} 
          <li class="active"><a href="/data-save?selected={{ selected_file }}&viewdb=true">Check Current Storage</a></li>
          {% elif selected_file != "" %} 
          <li><a href="/data-save?selected={{ selected_file }}&viewdb=true">Check Current Storage</a></li>
          {% endif %}          

        </ul>
      </div>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Dashboard</h1>

        <div class="row placeholders">
          <div class="col-xs-6 col-sm-3 placeholder">
            <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Label</h4>
            <span class="text-muted">Something else</span>
          </div>
          <div class="col-xs-6 col-sm-3 placeholder">
            <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Label</h4>
            <span class="text-muted">Something else</span>
          </div>
          <div class="col-xs-6 col-sm-3 placeholder">
            <img data-src="holder.js/200x200/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Label</h4>
            <span class="text-muted">Something else</span>
          </div>
          <div class="col-xs-6 col-sm-3 placeholder">
            <img data-src="holder.js/200x200/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
            <h4>Label</h4>
            <span class="text-muted">Something else</span>
          </div>
        </div>

        <h2 class="sub-header">Section title</h2>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Header</th>
                <th>Header</th>
              </tr>
            </thead>
            <tbody>
              {% for view_tweet in view_tweets %}
              <tr>
                <td>0000</td>
                <td style="width:750px; padding:0;">{{ view_tweet[0] }}</td>
                <td style="width:250px; padding:0;">{{ view_tweet[1] }}</td>
                <tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    </body>
    </html>
